<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>О проекте</title>
    <!--Подключение стилей по относительному пути из внешнего файла-->
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <!--Подключение скриптов-->
    <script type="text/javascript" src="../Static/JS/about.js"></script>
</head>

<!--Хедер страницы находится сразу над тегом body-->
<header id="header-index">
    <div>
        <!--Заголовок страницы-->
        <h1>О программе.</h1>
        <!--Параграф-->
        <p>Расскажем чем мы тут занимаемся</p>
    </div>
</header>

<body>
    <div class="about">
        <!--Заголовок страницы-->
        <h1>Информация о сайте</h1>
        <!--Параграф-->
        <p>На сайте собраны прямые трансляции из улиц города Санкт-Петербург.</p>
        <p>Все трансляции находятся в открытых источниках, в данный момент - vkvideo.ru</p>
        <p>Отзыв о работе сайта можно оставить здесь</p>
        <button name="send-feedback" onclick="getReview()">Оставить отзыв</button>
    </div>
</body>

<!--SIDEBAR-->

<!--FOOTER-->

</html>


